@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  outline: none;
}

html {
  background-color: #f4f4f9;
}


/* loader */
.loader {
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  border-bottom-color: #aaaaaa3f;
  border-left-color: #aaaaaa3f;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.4s linear infinite;
}

.button-loader {
    width: 17px;
    height: 17px;
    border: 2px solid white;
    border-bottom-color: #aaaaaa3f;
    border-left-color: #aaaaaa3f;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.4s linear infinite;
  }

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.custom-scrollbar{
    overscroll-behavior: contain;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 20px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #88888881;
  border: 7px solid white;
  border-radius: 30px;
  cursor: default;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #3a3a3a81;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}
